@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .box-primary {
        @apply bg-primary2 border-4 border-primary0 rounded-lg;
    }
}


@font-face {
    font-family: 'SourceCodeVf';
    src: url('/fonts/SourceCodePro.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceCodeVfBold';
    src: url('/fonts/SourceCodeProSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.dark {
    --col-primary: #171717;
    --col-third: #2c2c2c;
    --col-secondary: #1c1c1c;
    --col-primary-light: #242424;
    --col-whitesmoke: #f5f5f5;
}

.light {
    --col-primary: #f5f5f5;
    --col-secondary: #f0f0f0;
    --col-primary-light: #e5e5e5;
    --col-whitesmoke: #171717;
    color: var(--col-whitesmoke);
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin-full {
    animation: spin2 .2s linear;
}

.text-dots {
    -webkit-text-security: disc;
}

html {
    -webkit-text-size-adjust: 100%;
}